* {
    box-sizing: border-box;
}

.header {
    background-color: #ADD8E6;
    padding: 30px 40px;
    color: blueviolet;
    font-size: large;
    font-style: bold;
    text-align: center;
}

/* Clear floats after the header for prettiness */
.header:after {
    content: "";
    display: table;
    clear: both;
}


ol {
    margin: 0;
    padding: 0;
}

ol li {
    cursor: cell;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

ol li:nth-child(odd) {
    background: lightgrey;
}

ol li:hover {
    background: #ddd;
}

/* on task click, change color and strike out text */
ol li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ol li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.close:hover {
    background-color: #555;
    color: white;
}

